<div class="bg-grey">
    <div class="row">
        <div class="col-md-4 col-lg-4">
          <section class="about">
            <div class="panel col-md-offset-1">
                <%= image_tag "alaa-profile.jpg",  class: "img-rounded img-responsive" %>
            </div> 
            <div class="panel col-md-offset-1">
              <div class="col-md-offset-1">
                 <i class="fa fa-globe fa-2x text-primary"></i>
                 <span class="fa-2x" style="color: #191919;"> &nbsp; Intro</span>
              </div>
            <hr>
            <div class="col-md-offset-1">
                <i class="fa fa-home" style="color: grey;"></i>
                <span style="color: #191919;"> &nbsp;Lives in <%= link_to "Charlotte, North Carolina", "https://www.facebook.com/places/Things-to-do-in-Charlotte-North-Carolina/105715936129053/" %></span>            
            </div>
            <div class="col-md-offset-1">
                <i class="fa fa-heart" style="color: grey;"></i>
                <span style="color: #191919;">&nbsp;Relationship Status <%= link_to "Married" %></span>            
            </div>
            <div class="col-md-offset-1">
                 &nbsp;<i class="fa fa-map-marker" style="color: grey;"></i>
                <span style="color: #191919;"> &nbsp; From <%= link_to "Cairo, Egypt", "https://www.facebook.com/places/Things-to-do-in-Cairo-Egypt/115351105145884/" %></span>            
            </div>
            <div class="col-md-offset-1">
                 <i class="fa fa-book" style="color: grey;"></i>
                <span style="color: #191919;"> &nbsp;Education <%= link_to "B.Sc in EE/CE, UNCC", "http://engr.uncc.edu/" %></span>
            </div>
            <br>  
            </div>
            <div class="panel col-md-offset-1">
              <div class="col-md-offset-1">
                 <i class="fa fa-image fa-2x text-primary"></i>
                 <span class="fa-2x" style="color: #191919;"> &nbsp; Photos</span>
              </div>
            <hr>
            <% @uploads.each do |image| %>
            <td><a data-toggle="modal" data-target="#id<%= image.id %>" class="btn btn-light"><%= image_tag image.image.url(:thumb) %></a></td>
                <div id="id<%= image.id %>" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body" style="color: #191919;">
                        <%= image_tag image.image.url(:large) %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
            </div>      
          </section>
        </div>
        <div class="col-md-6 col-lg-6">
            <section class="about">
                <div class="panel">
                    <div class="col-md-offset-1 text-primary">
                       <h2><b>Alaa E. Abdelfattah</b></h2>
                       <h4>Lead Software Developer at Abundant Power Group, LLC.</h4>
                    </div>
                    <div class="col-md-offset-1">
                      <h5 style="color: grey;">Charlotte, North Carolina | Energy Efficiency</h5>
                    </div>  
                </div>
                 <div class="panel">
                    <div  class="col-md-offset-1">
                         <i class="fa fa-clock-o fa-2x text-primary"></i>
                         <span class="fa-2x" style="color: #191919;"> &nbsp; Blog</span>
                     <div class="scrollable" ic-trigger-on="scrollend" ic-append-from="/example-scroll" ic-target="#ScrollableTarget" data-plugin-scrollable style="height: 384px;">
                    <div id="ScrollableTarget" class="scrollable-content text-primary">
                     <div style="color: grey;" class="timeline timeline-simple mt-xlg mb-md">
                     <div class="tm-body"> 
                      <% previous = '' %>
                      <% @timelines.each do |timeline| %>
                      <% current = timeline.created_at.month %>
                       
                        <% if current != previous  %>
                          <div class="tm-title">
                            <h3 class="h5 text-primary text-uppercase"><%= timeline.created_at.strftime("%B %Y") %></h3>
                          </div>
                        <% end %>
                          <ol class="tm-items">
                            <li>
                              <div class="tm-box">
                                <p class="text-primary mb-none">
                                 <% if Time.now.day == timeline.created_at.day %>
                                    Today at <%= timeline.created_at.strftime("%l:%M %p") %>
                                    <% else %>
                                    <%= timeline.created_at.strftime("%B %d at %l:%M %p")  %>
                                    <% end %> 
                                </p>
                                <p>
                                  <%= timeline.content %>
                                </p>
                                <% if timeline.image.url != '/images/original/missing.png' %>
                                  <%= image_tag timeline.image.url(:thumb) %>
                                  <br><br>
                                <% end %>
                                <span>
                                    <i class="fa fa-user"></i> By <b class="text-primary"><%= timeline.user %></b></a>
                                </span>
                              </div>
                            </li>
                          </ol> 
                      <% previous = timeline.created_at.month %>
                      <% end %>
                      </div>
                    </div>
                    </div>
                  </div>
                  </div>
                </div>
                <div class="panel">
                    <div class="col-md-offset-1 text-primary">
                      <i class="fa fa-male fa-2x"></i>
                      <span class="fa-2x" style="color: #191919;"> &nbsp; Bio</span>
                    </div>
                    <hr>  
                    <h3 style="color: #191919;">Coming Soon!</h3>
                </div>
            </section>
        </div>
        <div class="col-md-2 col-lg-2">
            <section class="about">
                <div class="text-primary">
                    <h2>Al's Stats</h2>
                </div>
                <h3 style="color: #191919;">Coming Soon!</h3>
            </section>
        </div>
    </div>       
</div>