<!DOCTYPE html>
<html lang="en">
<body>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Here you can view my portfolio, all the work I've done and know all about me.</h2>
                     <p class="lead">About me -  <%= link_to("Click Here",about_path) %></p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>My Projects with...</h2>
                    <hr class="small">
                    <div class="row">
                        <% @languages.each do |language| %>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="<%= language.icon %> fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong><%= language.name %></strong>
                                </h4>
                                <p><%= language.content_type %></p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <% end %>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Quick facts about Al</h1>
            <div class="col-md-4"></div>
            <div class="col-md-6">
               <ul class="text-left">
                  <li><h3>Went to college at the age of 16.</h3></li>
                  <li><h3>Graduated high school from Cambridge University.</h3></li>
                  <li><h3>Played soccer professionally.</h3></li>
                  <li><h3>Collects old and rare coins.</h3></li>
                  <li><h3>Moved to the United States by himself 5 years ago.</h3></li>
               </ul>
            </div> 
        </div>
    </aside>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>My Work</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                   <%= link_to image_tag("portfolio-1.jpg") %>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                   <%= link_to image_tag("portfolio-2.jpg") %>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                   <%= link_to image_tag("portfolio-3.jpg") %>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                   <%= link_to image_tag("portfolio-4.jpg") %>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <a href="#" class="btn btn-dark">View More Items</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>The buttons below are impossible to resist.</h3>
                    <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                    <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
                </div>
            </div>
        </div>
    </aside>
